    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header"><a class="navbar-brand navbar-link" href="#">Bounty Company Console</a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav navbar-right">
                <li><%= link_to 'Profile', dashboard_companies_path, class: 'navbar-link item' %>
                    </li>
                        <li role="presentation"><%= link_to 'Create Listing', new_jobs_path, class: 'navbar-link item' %>
                        </li>
                        <li role="presentation"><a href="learn.html">Shortlist/Interview</a></li>
                        <li role="presentation"><a href="#">Network </a></li>
                        <li role="presentation"><a href="#">Messages </a></li>
                    </ul>
                </div>
            </div>
        </nav>